:root {
  background-color: #F8FFA5;
}

aside {
  margin: 0;
  padding: 0;
  width: 33%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow: auto;
  border-right: black solid 8px;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Courier Prime', 'Times New Roman', Times, serif;
}

h1 {
  font-size: 160pt;
  font-weight: 300;
  margin: 0px;
  text-align: center;
  overflow-wrap: anywhere;
}

p {
  font-size: 16pt;
  margin-left: 10px;
  margin-right: 10px;
}

#button-container {
  width: auto;
  display: flex;
  justify-content: center;
}

.index-button {
  display: flex;
  font-size: x-large;
  width: 40%;
  aspect-ratio: 1;
  border: 0px;
  cursor: pointer;
  font-family: 'Courier Prime', 'Times New Roman', Times, serif;
  color: white;
  overflow-wrap: anywhere;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#pink-button {
  background-color: #FF59BD;
}

#blue-button {
  background-color: #59CDFF;
}

#main-image-container {
  margin: 0;
  padding: 0;
  width: 67%;
  position: fixed;
  display: flex;
  top: 0px;
  left: 33%;
  height: 100%;
  overflow: none;
  border-right: black solid 8px;
  justify-content: center;
}

#main-image-container img {
  margin: auto;
  position: relative;
  width: 85%;
  right: 6%
}