/* MAIN PAGE */

:root {
  background-color: #F8FFA5;
}

aside {
  margin: 0;
  padding: 0;
  width: 33%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow: none;
  border-right: black solid 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Courier Prime', 'Times New Roman', Times, serif;
}

h1 {
  font-size: calc(9vw + 9vh);
  font-weight: 300;
  margin: 0px;
  text-align: center;
}

h2 {
  font-size: 50pt;
  font-weight: bolder;
  margin: 0px;
  text-align: center;
  color: white;
}

p {
  font-size: calc(1vw + 1vh);
  line-height: 1.2;
  padding-left: 10%;
  padding-right: 5%;
  margin-top: 0px;
}

#button-container {
  width: auto;
  display: flex;
  justify-content: center;
}

.index-button {
  display: flex;
  font-size: calc(1vw + 1vh);
  width: 40%;
  aspect-ratio: 1;
  border: 0px;
  cursor: pointer;
  font-family: 'Courier Prime', 'Times New Roman', Times, serif;
  color: white;
  overflow-wrap: anywhere;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#pink-button {
  background-color: #FF59BD;
}

#blue-button {
  background-color: #59CDFF;
}

#main-image-container {
  margin: 0;
  padding: 0;
  width: 67%;
  position: fixed;
  display: flex;
  top: 0px;
  left: 33%;
  height: 100%;
  overflow: none;
  border-right: black solid 8px;
  justify-content: center;
}

#main-image-container img {
  margin: auto;
  position: relative;
  width: 85%;
}

/* Make image scale to a maximum of 683.4 pixels */
@media screen and (min-width: 1200px) {
  #main-image-container img {
    width: 683.4px;
  }
}

@media screen and (max-width: 800px) {
  aside {
    position: static;
    width: 100%;
    height: auto;
    overflow: auto;
    border: 0px;
  }

  #main-image-container {
    position: static;
    width: 100%;
    overflow: auto;
    border: 0px;
    margin-top: 50px;
  }
}

/* PROJECT PAGE */

#project-aside {
  background-color: #FF59BD;
}

#project-aside-header-container {
  height: 24%;
}

#project-aside-button-container {
  height: 72%;
}

.project-button {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-color: black;
  border-style: solid;
  border-width: 2px 0px 2px 0px;
}

.project-button:first-child {
  border-width: 4px 0px 2px 0px;
}

.project-button:last-child {
  border-width: 2px 0px 4px 0px;
}



.project-button p {
  color: white;
  margin: 0;
}

.project-button .p1 {
  font-size: large;
}

.project-button .p2 {
  font-size: xx-large;
}