.mainContainer {
    margin: 0;
    padding: 0;
    width: 66%;
    position: fixed;
    display: flex;
    top: 0px;
    left: 32%;
    height: 100%;
    overflow: none;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.mainContainer h1 {
    font-size: calc(5vw + 5vh);
    text-align: end;
    font-weight: bold;
    margin: 0;
}

.mainContainer p {
    font-size: calc(1vw + 1vh);
    margin: 0;
}

.mainContainer img {
    height: 40%;
}

/* Make image scale to a maximum of 683.4 pixels */
@media screen and (min-width: 1400px) {
    .mainContainer img {
        height: 375.2px;
    }
}

.mainContainer ul {
    list-style-position: inside;
}

.mainContainer li {
    font-size: calc(.2vw + 1.5vh);
    text-align: end;
}

.mainContainer a {
    font-size: calc(2vw + 2vh);
    color: #00B2FF;
    text-decoration: none;
}

.mainContainer a:visited {
    color: #3a0381;
}

.mainContainer a:hover {
    color: #FF59BD;
}