.mainContainer {
    margin: 0;
    padding: 0;
    width: 63%;
    position: fixed;
    display: flex;
    top: 0px;
    left: 36%;
    height: 100%;
    overflow: none;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.mainContainer h1 {
    font-size: calc(5vw + 5vh);
    text-align: end;
    font-weight: bold;
    margin: 0;
    max-width: 90%;
    line-height: 90%;
    word-wrap: break-word;
}

.mainContainer p {
    font-size: calc(1vw + 1vh);
    margin: 0;
    margin-bottom: 16px;
}

.mainContainer img {
    min-width: 20vw;
    max-width: 60vw;
    max-height: 40vh;
}

.mainContainer ul {
    list-style-position: inside;
    width: 50vw;
}

.mainContainer li {
    font-size: calc(.4vw + 1.5vh);
    vertical-align: bottom;
    text-align: end;
}

.mainContainer a {
    font-size: calc(1.2vw + 1.2vh);
    color: #00B2FF;
    text-decoration: none;
}

.mainContainer a:visited {
    color: #3a0381;
}

.mainContainer a:hover {
    color: #FF59BD;
}